<Form class="flex-outer"
      xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="frag-film-form(action, titreForm, fragListeDesGenres, fragListeDesActeurs, fragListeDesAvis)"
      data-th-action="@{${action}}"
      data-th-object=${requestedFilm}>

    <div><label for = "inputId" ></label><input hidden="hidden" data-th-readonly="${#strings.contains(action,'detail')}" id="inputId" type="number" data-th-field="*{genre}"/></div>
    <!-- Ajout liste des Genres d’un film -->
    <div data-th-replace="${fragListeDesGenres}"></div>
    <div><label for="inputAnnee"> Année:</label> <input id="inputAnnee" type="number" data-th-field="*{annee}" data-th-readonly="${#strings.contains(action,'detail')}"/> </div>
    <div><label for="inputTitre"> Titre:</label> <input id="inputTitre" type="text" data-th-field="*{titre}" data-th-readonly="${#strings.contains(action,'detail')}"/> </div>
    <div><label for="inputReal"> Réalisateur :</label> <input id="inputReal" type="text" data-th-field="*{realisateur}" data-th-readonly="${#strings.contains(action,'detail')}"/> </div>
    <div><label for="inputDuree"> Durée:</label> <input id="inputDuree" type="number" data-th-field="*{duree}" data-th-readonly="${#strings.contains(action,'detail')}"/> </div>
    <!-- Ajout liste des Acteurs d’un film -->
    <div data-th-replace="${fragListeDesActeurs}"></div>
    <!-- Ajout liste des Avis d’un film-->
    <div data-th-replace="${fragListeDesAvis}"></div>
    <div><label for="inputSynopsis"> Synopsis:</label> <input readonly id="inputSynopsis" type="text" data-th-field="*{synopsis}"/> </div>
</Form>