<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-form-corr" >
<body>
<Form class="flex-outer" data-th-if="${readonly}==true">

    <div><label for = "inputGenreRo" > Genre :</label><input data-th-disabled="${readonly}" id="inputGenreRo" type="text" name="username"  data-th-value="${requestedFilm.genre}"/></div>
    <div><label for="inputAnneeRo"> Année:</label> <input data-th-disabled="${readonly}" id="inputAnneeRo" type="number" name="annee" data-th-value="${requestedFilm.annee}"/> </div>
    <div><label for="inputTitreRo"> Titre:</label> <input data-th-disabled="${readonly}" id="inputTitreRo" type="text" name="titre" data-th-value="${requestedFilm.titre}"/> </div>
    <div><label for="inputRealRo"> Réalisateur :</label> <input data-th-disabled="${readonly}" id="inputRealRo" type="text" name="realisateur" data-th-value="${requestedFilm.realisateur}"/> </div>
    <div><label for="inputDureeRo"> Durée:</label> <input data-th-disabled="${readonly}" id="inputDureeRo" type="number" name="duree" data-th-value="${requestedFilm.duree}"/> </div>
    <div>
        <label for="selectActeurs"> Acteurs :</label>
            <Select id="selectActeurs" name="acteur" multiple data-th-disabled="${readonly}">
            <option data-th-each="acteur: ${requestedFilm.getActeurs()}" data-th-text="${'--'+acteur.getPrenom()+ ' ' +acteur.getNom()}"></option>
            </Select>

    </div>
    <div><label for="inputSynopsisRo"> Synopsis:</label> <input readonly id="inputSynopsisRo" type="text" name="synopsis" data-th-value="${requestedFilm.synopsis}"/> </div>
</Form>
<div data-th-if="${readonly}==true"><a data-th-href="@{/films/detail(readonly=false)}">Enregistrer un nouveau film</a></div>
</body>
</html>
