<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-filmo(titrePage=~{:: title},
					contenuPage=~{:: .center-main},
					ressourcesSupp=~{})}">
<head>
    <meta charset="UTF-8">
    <title>Rediger un avis</title>
</head>
<body>
<main class="center-main">
    <!-- Possible fragmentation à faire-->
    <Form class="flex-outer" th:action="@{/avis/publier(filmId=${film.id})}" method="post" th:object="${avis}">
        <h1 data-th-text="'Ajouter un avis au film : '+ ${film.titre}"> </h1>
        <div><label for="inputNote"> Note:</label> <input required  id="inputNote" type="number" min="1" max="5" th:value="*{note}" /> </div>
        <div><label for="inputCom"> Commentaire:</label> <textarea required id="inputCom" th:field="*{commentaire}"></textarea></div>
        <input type="submit" />
    </Form>
</main>
</body>
</html>