<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-filmo(titrePage=~{:: title},
					contenuPage=~{:: .center-main},
					ressourcesSupp=~{})}">
<head>
  <meta charset="UTF-8">
  <title>View Contexte</title>
</head>
<body>
<main class="center-main">
  <a data-th-href="@{/session(email='jtrillard@campus-eni.fr')}">Julien Trillard</a>
  <a data-th-href="@{/session(email='sgobin@campus-eni.fr')}">Stéphane Gobin</a>
  <a data-th-href="@{/session(email='abaille@campus-eni.fr')}">Ane-Lise Baille</a>

</main>
</body>
</html>