<!DOCTYPE html>
<html lang="en" data-th-replace="~{layouts/layout :: layout-filmo(titrePage=~{:: title},
					contenuPage=~{:: .center-main},
					ressourcesSupp=~{})}">
<head>
    <meta charset="UTF-8">
    <title>Détails du film</title>
</head>
<body>
<main class="center-main">
    <!-- Placement du formulaire en fragments-->
    <div data-th-replace="~{fragments/fragment-film-form ::
frag-film-form('/films/detail', 'Détails du film', ~{fragments/fragment-liste-genre :: frag-liste-genre},
~{fragments/fragment-liste-participants :: frag-liste-participants},
~{fragments/fragment-liste-avis :: frag-liste-avis})}"></div>
</main>
</body>
</html>